@model CityWeather

<!DOCTYPE html>
<html>
    <head>
        <title>Wheather Details</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="page-content text-center">
            <h1>Weather</h1>
            <div class="box w-50 margin-auto">
                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td colspan="2" class="text-center">@Model.CityName</td>                            
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">@Model.DateAndTime.ToString("dd/MM/yyyy HH:mm")</td>
                        </tr>
                        <tr class="temperature">
                            <td class="text-center" style="font-size: 40px;">@Model.TemperatureFahrenheit</td>
                            <td class="text-center" style="font-size: 40px;">°F</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a href="/">Back to Weather Home Page</a>
                </div>
            </div>
        </div>
    </body>
</html>